*{
    padding: 0;
    margin: 0;
    background:black;

}
body{
    height: 2200px;
  
    
  
}
.name h1{
    color:rgb(59, 21, 2);
    background-color: #a5d2c0;
 text-align: center;   
    width: 80vw;
    
}
header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.body1 p{
    background:#f8d49a;
    margin: 0 10vw;
    font-size:25px;
    text-align:justify
}
main{
    margin-top: 50px;
}
.img1{
    display: flex;
    justify-content: center;
   
}
img{
    width:40rem
}
.body1{

    background:#f8d49a;
    width: 80vw;
    height: 2200px;
 
}
.body2{
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
}
footer div{
    
    height: 200px;
    background: #64c4c3;
    width: 80vw;
}
footer div h1{
    color:white;
    background-color: #64c4c3;
    font-size: 250px;
    
}